Package: xyz.skitty.mk1cc
Name: MK1 CC Toggle
Depends: xyz.skitty.mk1, com.opa334.ccsupport
Version: 1.0
Architecture: iphoneos-arm
Description: Trigger MK1 Scripts from the Control Center
Maintainer: Skitty
Author: Castyte & Skitty
Section: Addons (MK1)
