Package: com.castyte.mk1xenhtml
Name: MK1 XenHTML
Depends: mobilesubstrate, com.castyte.mk1, com.matchstic.xenhtml
Version: 1.0.0
Architecture: iphoneos-arm
Description: Trigger MK1 Scripts from XenHTML
Maintainer: Castyte
Author: Castyte
Section: Addons (MK1)
